

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
    background-image: url("../img/plano.jpg");
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    float: left;
    height: 200px;
    width: 1000px;
}
#header img {
    width: 100%;
}

#navigation {
    float: left;
    height: 60px;
    width: 1000px;
    background-color: #00CED1;
    z-index: 99; 
}

#content {
    float: left;
    background: #FFFFFF;
    width: 100%;
    z-index: 1;
}
#aa {
    float: left;
    background: #FFFFFF;
    width: 70%;
}
#bb {
    float: right;
    background: #FFFFFF;
    width: 30%;
}
#bb img {
    width: 100%;
    height: 100%;
    padding: 0;
    float: right;
}

#footer {
    height: 40px;
    width: 1000px;
    background: #94fcf8;
    clear: both;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #94fcf8;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

ul li a.active {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #94fcf8;
    min-width: 208px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #FFFFFF}

.dropdown:hover .dropdown-content {
    display: block;
}

/**edicao da home bjs**/
