

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
    background-image: url("../img/plano.jpg");
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    float: left;
    height: 200px;
    width: 1000px;
}
#header img {
    width: 100%;
}

#navigation {
    float: left;
    height: 60px;
    width: 1000px;
    background-color: #00CED1;
    z-index: 99; 
}

#content {
    float: left;
    background: #FFFFFF;
    width: 100%;
    z-index: 1;
}
#aa {
    float: left;
    background: #FFFFFF;
    width: 70%;
}
#bb {
    float: right;
    background: #FFFFFF;
    width: 30%;
}
#bb img {
    width: 100%;
    height: 100%;
    padding: 0;
    float: right;
    display: block;
}

#footer {
    height: 40px;
    width: 1000px;
    background: #94fcf8;
    clear: both;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #94fcf8;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

ul li a.active {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #94fcf8;
    min-width: 208px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #FFFFFF}

.dropdown:hover .dropdown-content {
    display: block;
}

/****carrega o css para as imagens dos produtos****/
.boxproduto .boximg{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;

}
.boxproduto img {
    width: 100% ;
    height: auto; 
}

.boxproduto .boximg:hover{
    border: 1px solid #777;
}

.boxproduto .boxdesc  {
    padding: 15px;
    text-align: center;
    display: block;
}
/****home css ****/

.titulo {
    width: 100%;
    text-align: center;
    margin: 60px;

}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    inline-box-align: block;

}

div.img:hover{
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}
div.desc  {
    display: block;
    padding: 15px;
    text-align: center;
}

/****** Manutencao ******/

.manutencao .manutencaoimg {
    margin: auto;
    border: 1px solid #ccc;
    float: top;
    width: 500px;

}
.manutencao .manutencaoimg img {
    width: 100%;
    height: auto;
}
.manutencaodesc {
    display: block;
    text-align: left;
    font-size: 10px;
}
#magia {
    background-image: url("../img/bannerpromo.jpg");
    position: relative;
    width: 300px;
    height: 800px;
}
.manutencao p {
    text-align: center;
}

/* Descarte */
.boxdescarte h2 {
    margin: 10px;
    text-align: center;
}

.boxdescarte2 p {
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
}

.boxdescarte3 h2 {
    margin: 10px;
    text-align: center;
}

.boxdescarte4 p {
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
}
/* FAQ */

.faqtitulo h1 {
    margin: 10px;
    text-align: center;
}

.faqresposta {
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
}

.faqpergunta h2 {
    margin: 10px;
    text-align: center;
}